@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&family=Oswald:wght@200..700&display=swap');


.primary-color {
  color: #0194FE;
}

body {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  background-size: cover;
  background-position: center;
  background: hsla(217, 88%, 31%, 1);
  background: linear-gradient(225deg, hsla(217, 88%, 31%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);
}

body .carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  background: #000;
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.navbar .brand p {
  color: rgb(196, 143, 11) !important;
}

.navbar h6 a {
  color: rgb(196, 143, 11) !important;
}

.navbar .brand img {
  max-width: 50px;
}

.hero-section {
  height: 58vh;
  background-image: url("../img/hero-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;
  max-width: 100%;
}

.our-brand img {
  max-width: 75%;
}

a {
  text-decoration: none;
}

.login-left {
  background: url("../img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slick-slider img {
  height: 40px;
}

.whatapp-widget {
  bottom: 12px;
  right: 12px;
  animation: zoom-in-zoom-out 3s ease-out infinite;
}

.whatapp-widget i::before {
  font-size: 32px;
}

.slick-arrow::before {
  color: rgb(238, 188, 61);
}

.glass-bg-effect {
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer {
  background: rgb(12, 89, 29);
  background: linear-gradient(90deg, rgba(12, 89, 29, 1) 0%, rgba(14, 110, 19, 1) 69%, rgba(38, 99, 22, 1) 100%);
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media(min-width:1024px) {
  .hero-section h1 {
    max-width: 60%;
    text-shadow: rgb(228, 178, 13) 2px 1px;
  }

  .hero-section p {
    max-width: 78%;
  }

  .whatapp-widget {
    bottom: 32px;
    right: 32px;
  }

  .whatapp-widget {
    bottom: 32px;
    right: 32px;
  }

  .whatapp-widget i::before {
    font-size: 48px;
  }

}

@media(max-width:575px) {
  .slick-slider img {
    height: 50px;
  }

  .hero-section {
    height: auto;
  }

  .navbar .brand img {
    max-width: 68px;
  }
}